@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .min-h-screen-minus-navbar {
        height: calc(100vh - 4rem);
        overflow: hidden;
    }

    .min-h-screen-minus-navbar-scroll {
        height: calc(100vh - 4rem);
        overflow-y: scroll;
    }
}